<?xml version="1.0" encoding="UTF-8"?>
<bean:beans 
    xmlns:bean="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
    xmlns="http://www.springframework.org/schema/security" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
    http://www.springframework.org/schema/security 
    http://www.springframework.org/schema/security/spring-security-3.2.xsd">
  
         
         
    <http auto-config="true" use-expressions="true">
        <intercept-url pattern="/cvPostulante.htm" access="hasAnyRole('Postulante')"/>
        <intercept-url pattern="/indexp.htm" access="hasAnyRole('Postulante')"/>
        <intercept-url pattern="/empresas.htm" access="hasAnyRole('Empresa')"/>
        <intercept-url pattern="/cuentaempresa.htm" access="hasAnyRole('Empresa')"/>
        <intercept-url pattern="/publicaciones.htm" access="hasAnyRole('Empresa')"/>
              
        <form-login login-page="/login.jsp" default-target-url="/redirect.htm"  
                    login-processing-url="/login" authentication-failure-url="/loginPostulante.htm?error" 
                    username-parameter="correo"
                    password-parameter="clave" />  
         <logout logout-success-url="/index.htm" logout-url="/logout" invalidate-session="true" />
         <access-denied-handler error-page="/accesodenegado.htm" ></access-denied-handler>   
        
        <!--enable csrf protection-->       
        <!--            <form-login login-page="/login"  default-target-url="/index" authentication-failure-url="/login?error" 
                    username-parameter="usuario" password-parameter="lacontra" />
        <logout logout-success-url="/login?logout"/>
        <csrf/>-->
    </http>
    
    <authentication-manager alias="authenticationManager">
        <authentication-provider>
            <password-encoder hash="bcrypt" />
            <jdbc-user-service data-source-ref="dataSource"
                               users-by-username-query="select correousuario,contraseña,cuentaactiva from usuario where correousuario=?"
                               authorities-by-username-query="select correousuario,TipoCuenta,contraseña from usuario where correousuario=?"/>
        </authentication-provider>
    </authentication-manager>
    
            
</bean:beans> 