


.scale{
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.scale:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transition: all 0.3s;
    transform: scale(1.1);
    opacity: 90%;
}

.box-img{
    width: 250px;
    height: auto;
    max-height: 250px;
}

.hr-custom-black{
    border : 0;
    height: 1px; 
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.bg-black{
    background: #000;
}

.p-22{
    font-size: 22px;
}

.p-16{
    font-size: 16px;
}
.p-14{
    font-size: 14px;
}
.p-28{
    font-size: 28px;
}
.p-12{
    font-size: 12px;
}

.inner {
    display: block;
    margin: 0 auto;
}

.inner2 {
    position: absolute;
    top: 30%;
    left: 30%;
    right: 30%;
    bottom: 30%;
    width: auto;
    height: auto;
    margin-top: auto; /* Half the height */
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;/* Half the width */
}

.colorbg{
    background: #fff;
    border-bottom: 1px black;
}

.border-link {
    display: inline-block;
    text-decoration: none;
}

.border-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #FA6900;
    transition: width .3s;
}

.border-link:hover::after {
    width: 100%;
}

.alink{
    color: #FFF;
}

.alink:hover{
    color: #FFF;
}

.home{
    background: #37589F;
    width: auto;
    height: 500px;
}

.perfil{
    background: #37589F;
}
.headerCardTitle{
    background: #37589F;
    width: 100%;

}
.letraGrande{
    font-size: 35px;
}
.letraMedia{
    font-size: 25px;
    text-align: center;
}
.letraMediaPerfil{
    font-size: 20px;
    text-align: center;
    color:#37589F;
}
.text-intervid{
    color:#37589F;
}
.inner {
    display: block;
    margin: 0 auto;
}
.bg-intervid{
    background:  #37589F;
}

.center{
    display:table-cell;
    vertical-align: middle;
    text-align: center;
}

.loginEM{
    background: #37589F;
    width: auto;
    height: 200px;
}
.loginBody{
    width: auto;
    padding: 10px;
}

.nav-intervid{
    border-bottom: 1px solid #37589F;
}

.verdeEmpresaLogo{
    color:#54B692;
}
.height100{
    height: 1000px;
}

.hr-custom-white{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}
.txtarea {
    resize: none;
}

.input-icons i { 
    position: absolute;
    padding: 10px;
    pointer-events: none;
} 

.input-icons { 
    position: relative; 
} 

.icon { 
    left: 0px;
} 

.input-field { 
    width: 100%; 
    padding-left: 28px; 

} 

.iconStar{
    height:25px;
}

.greyTxt{
    color: grey;
}

.static{
    position: fixed;
}

.div-principal{
    position: relative;
    top: 60px;
}

#nav-fixed{
    z-index: 1;
    background-color: #FFF;
}

.perfil-usuario{
    width: 150px;
    min-height: 150px;
    min-width: 150px;
    height: auto;
    border: 1px #37589F;
    border-style: outset;
}

.body-gris{
    background-color: #F5F5F5;
}


.div-border{
    border: 1px solid #37589F;
    border-radius: 5px;
    background-color: #fff;

}

.btn-right{
    float: right;
}

.intervid-fixed-nav{
    min-height: 300px;
}

red{
    color: #FF0000;
}

#filtro{
    border: 1px grey solid;
    border-radius: 5px;
}

grey{
    color: #808080;
}

.div-filtro{
    min-height: 800px;
}

.max-img{
    max-height: 70px;
    height: auto;
}

.a-lab:hover{
    border: 1px solid red;
    text-decoration: none;
    overflow: hidden;
}

.decoration-none{
    text-decoration: none;
}

.decoration-none:hover{
    text-decoration: none;
}

.p-20{
    font-size: 20px;
}

.p-18{
    font-size: 18px;
}

.minh{
    min-height: 1000px;
}

.btn-orange{
    background: #FF9E01;
    font-weight: bold;
    color: #FFF;
    box-shadow:  2px 2px 2px 2px rgba(0,0,0,0.3);
}

.btn-orange:hover{
    color: #FFF;
    font-weight: bold;
}
video
{
    width: 100%;
    height: 300px;
}

.card-pricing.popular {
    z-index: 0;
    border: 3px solid #007bff;
}
.card-pricing .list-unstyled li {
    padding: .5rem 0;
    color: #6c757d;
}

.toast-error {
  background-color: #37589F;
}